* {
    margin: 0;
    padding: 0;
}

body {

    background-color: gray;
}

.card {

    width: 244px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.image {
    border-radius: 15px;
    padding: 9px;
}

.button{
    padding:0px 10px;
}

.button span {
    
    border: 0.4px solid;
    border-radius: 10px;
    padding:0 5px;


}
.read-more{
    text-align: center;
    
}
.read-more>button{
    background-color: rgb(187, 187, 252);
    padding:3px;
    border-radius: 10px;
    color: white;
    border:none;
    padding:5px 30px;
    cursor: pointer;
}

.about {
    padding: 10px;
    color:rgb(45, 45, 45);

}

.read-more>button:hover{
    background-color: rgb(110, 110, 230);

}
.read-more>button:active{
    background-color: blue;

}

